In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF

import numpy as np
import pandas as pd
##import cufflinks as cf
import cufflinks as cf
from matplotlib.pyplot import pie, axis, show
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
import plotly.graph_objs as go

In [3]:
df = pd.read_csv('age_groupwise.csv')
df

     Year   Age_Groups  Deaths
0    1999   5-14 years     244
1    1999  15-24 years    3901
2    1999  25-34 years    5106
3    1999  35-44 years    6466
4    1999  45-54 years    5081
5    1999  55-64 years    2896
6    1999  65-74 years    2471
7    1999  75-84 years    2217
8    1999    85+ years     801
9    1999   Not Stated      16
10   2000   5-14 years     307
11   2000  15-24 years    3994
12   2000  25-34 years    4792
13   2000  35-44 years    6562
14   2000  45-54 years    5437
15   2000  55-64 years    2945
16   2000  65-74 years    2292
17   2000  75-84 years    2181
18   2000    85+ years     833
19   2000   Not Stated       7
20   2001   5-14 years     279
21   2001  15-24 years    3971
22   2001  25-34 years    5070
23   2001  35-44 years    6635
24   2001  45-54 years    5942
25   2001  55-64 years    3317
26   2001  65-74 years    2432
27   2001  75-84 years    2192
28   2001    85+ years     769
29   2001   Not Stated      15
..    ...          ...     ...
150  2014   5-14 years     428
151  2014  15-24 years    5090
152  2014  25-34 years    6574
153  2014  35-44 years    6715
154  2014  45-54 years    8774
155  2014  55-64 years    7539
156  2014  65-74 years    4115
157  2014  75-84 years    2395
158  2014    85+ years    1192
159  2014   Not Stated       4
160  2015   5-14 years     413
161  2015  15-24 years    5491
162  2015  25-34 years    6947
163  2015  35-44 years    6936
164  2015  45-54 years    8751
165  2015  55-64 years    7739
166  2015  65-74 years    4201
167  2015  75-84 years    2489
168  2015    85+ years    1222
169  2015   Not Stated       4
170  2016   5-14 years     443
171  2016  15-24 years    5723
172  2016  25-34 years    7366
173  2016  35-44 years    7030
174  2016  45-54 years    8437
175  2016  55-64 years    7759
176  2016  65-74 years    4403
177  2016  75-84 years    2590
178  2016    85+ years    1211
179  2016   Not Stated       3

[180 rows x 3 columns]

In [ ]:
trace1 = go.Bar(
                x = df.Year,
                y = df.Deaths,
                name = "Age_Groups",
                marker = dict(color = 'rgba(255, 174, 255, 0.5)',
                             line=dict(color='rgb(0,0,0)',width=1.5)),
                text = df.Age_Groups)
# create trace2 
trace2 = go.Bar(
                x = df.Year,
                y = df.Deaths,
                name = "Age_Groups",
                marker = dict(color = 'rgba(255, 255, 128, 0.5)',
                              line=dict(color='rgb(0,0,0)',width=1.5)),
                text = df.Age_Groups)
data = [trace1, trace2]
layout = go.Layout(barmode = "group")
fig = go.Figure(data = data, layout = layout)
iplot(fig)